.card {
    border-radius: 15px;
    padding: 9px;
    transition: 0.3s;
    margin: 20px;
    width: 185px;
    height: 185px;
}

.card:hover {
    box-shadow: 0px 0px 12px 8px rgb(159, 159, 246);
    animation-name: bob;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    cursor: pointer;
}
.card img {
    border-radius: 15px;
}

.card p {
    font-size: 27px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 700;
    color: rgb(159, 159, 246);
}

@keyframes bob {
    from {
      transform: translate(0px, 0px);
    }
  
    to {
      transform: translate(0px, -15px);
    }
}